body{
    
}
/*Activity section*/
.services-font{
    margin: 1.1rem 0;
    font-size: 2rem;
    font-family: 'Montserrat';
    letter-spacing: .6rem;

    text-align: center;
    
}

.countainer-services{
   
    padding: 0 6%;
    margin: 2px;
   

   
}
.card{
    padding: 0px;
    margin: 0px;
    
}
    
.card:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
    
.card-text {
        text-align: center;
        font-family: 'Montserrat';
        line-height: 1.6rem;
}

/*department section*/
.department-font{
    margin: 1.1rem 0;
    font-size: 2rem;
    font-family: 'Montserrat';
    letter-spacing: .1rem;
    text-align: center;
}
.text-center {
    text-align: center!important;
}
.department-parg {
    text-align: justify;
    font-family: 'Montserrat';
    line-height: 2rem;
    letter-spacing: .1rem;
}
.department-parg1{
    text-align: justify;
    font-family: 'Montserrat';
    line-height: 2rem;
    letter-spacing: .1rem;
}
.imag-slider{
    width: 96%;
    height: 81%;
}
/*fotter section*/


